<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Effective Trainings Teleprompter</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<h3>Effective Trainings</h3>
<!--<table>-->
    <!--<tr data-th-each="line : ${lines}">-->
        <!--<td data-th-text="${line.content}"></td>-->
    <!--</tr>-->
<!--</table>-->
<script type="text/javascript" src="/js/application.js"/>
<script th:inline="javascript">
    [[${pageConfig}]];
</script>
</body>
</html>